<div class="fuse-navy" fusePerfectScrollbar fxFlex fxLayout="column" fxLayoutAlign="start center"
     id="role">


  <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
       [@animate]="{value:'*',params:{delay:'100ms'}}">
    <h1>Roles Disponibles</h1>
  </div>

  <!-- COMPANIES LIST -->
  <div class="roles-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
       [@animateStagger]="{value:'50'}">

    <!-- BOARD -->
    <div class="roles-list-item" *ngFor="let role of roles" (click)="roleSelected(role)"
         fxLayout="column" fxLayoutAlign="center center"
         [@animate]="{value:'*',params:{y:'100%'}}">
      <mat-icon class="s-56">supervised_user_circle</mat-icon>
      <div class="role-name">{{role.name}}</div>
    </div>
    <!-- / BOARD -->

  </div>
  <!-- / BOARD LIST -->


</div>
