<mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

    <div fxLayout="row">
      <img style="width: 35px" src="assets/images/logos/fuse.svg">
      <p style="font-size: 12px; padding-left: 1rem"> Sistema de Información Financiera</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
      <p style="font-size: 12px">Powered by Orasoft - {{ version }}</p>
    </div>

  </div>

</mat-toolbar>
