<h1 mat-dialog-title style="text-align: center">Cambio de Clave</h1>
<mat-dialog-content>
  <div class="page-layout carded fullwidth" id="users">
    <form (ngSubmit)="onSubmit()"
          [formGroup]="form"
          class="p-24 ml-50 mr-50"
          fxFlex="1 0 auto"
          fxLayout="column"
          fxLayoutAlign="start"
          name="form">

      <div fxFlex="0 0 auto"
           fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutGap="20px"
           fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Clave Actual</mat-label>
          <input type="password" formControlName="currentPass" matInput required>
<!--          <mat-icon class="secondary-text" matSuffix>business</mat-icon>-->
          <mat-error>Campo es requerido!</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="0 0 auto"
           fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutGap="20px"
           fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Clave Nueva</mat-label>
          <input type="password" formControlName="newPass" matInput required>
<!--          <mat-icon class="secondary-text" matSuffix>business</mat-icon>-->
          <mat-error>Campo es requerido!</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="0 0 auto"
           fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutGap="20px"
           fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Clave Contraseña</mat-label>
          <input type="password" formControlName="confirmPass" matInput required>
<!--          <mat-icon class="secondary-text" matSuffix>business</mat-icon>-->
          <mat-error>Campo es requerido!</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="onSubmit()" [disabled]="!form.valid" color="primary" mat-raised-button>Aceptar</button>
  <button [mat-dialog-close]="true" color="warn" mat-raised-button>Cancelar</button>
</mat-dialog-actions>
