<div class="page-layout carded fullwidth" id="users">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column" fxLayout.gt-sm="row"
         fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
          business
        </mat-icon>
        <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">Usuarios</span>
      </div>
      <!-- / APP TITLE -->

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5%">
        <button (click)="newUser()" color="primary" mat-raised-button>Agregar</button>
        <button (click)="refresh()" color="primary" mat-raised-button>Actualizar</button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-table class="users-table"
                 #table [dataSource]="dataSource"
                 matSort
                 [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>NOMBRE COMPLETO</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.name}}</p></mat-cell>
        </ng-container>


        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef >USUARIO</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.username}}</p> </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>CORREO ELECTRONICO</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.email}}</p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>ESTADO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.status === 'A'" color="green" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
              check_circle
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"
                 class="user"
                 (click)="showRecord(row)"
                 matRipple>
        </mat-row>
      </mat-table>
      <mat-paginator #paginator
                     fxLayoutAlign="center center"
                     [length]="dataSource.filteredData.length"
                     [pageIndex]="0"
                     [pageSizeOptions]="[5, 10, 15]"
                     [pageSize]="10"></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
