<mat-dialog-content>
  <div class="page-layout carded fullwidth" id="roles">

    <div class="pb-4">

      <form (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="p-24 ml-50 mr-50"
            fxFlex="1 0 auto"
            fxLayout="column"
            fxLayoutAlign="start"
            name="form">

        <div class="h2 mb-24">Registro Nuevo</div>


        <div fxFlex="0 0 auto"
             fxLayout="row"
             fxLayout.lt-md="column"
             fxLayoutGap="20px"
             fxLayoutGap.lt-md="0px">

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput required>
            <mat-icon class="secondary-text" matSuffix>business</mat-icon>
            <mat-error>Nombre es requerido!</mat-error>
          </mat-form-field>
        </div>

      </form>

    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onSubmit()" [disabled]="!form.valid" color="primary" mat-raised-button>Guardar</button>
  <button [mat-dialog-close]="true" color="warn" mat-raised-button>Cancelar</button>
</mat-dialog-actions>
