<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column" fxLayout.gt-sm="row"
         fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
          perm_identity
        </mat-icon>
        <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">{{ infoUserName }}
        </span>
      </div>
      <!-- / APP TITLE -->

      <button (click)="return()" color="warn" mat-raised-button>Regresar</button>
    </div>
    <div class="content-card">
      <div *ngIf="this.currentDisplay === 'mobile'" fxLayout="column" fxFlexAlign="center">
        <div class="fuse-card" style="padding-left: 2rem" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxFlex="0 0 30%"
             fxLayoutAlign="center">
          <h4 class="text-center">Información de Usuario</h4>
          <form (ngSubmit)="onSubmit()"
                [formGroup]="form"
                class="p-24 ml-50 mr-50"
                fxFlex="0 0 100%"
                fxLayout="column"
                fxLayoutAlign="start"
                name="form">

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput required>
                <mat-icon class="secondary-text" matSuffix>business</mat-icon>
                <mat-error>Nombre es requerido!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="row"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Usuario</mat-label>
                <input formControlName="username" matInput required>
                <mat-icon class="secondary-text" matSuffix>business</mat-icon>
                <mat-error>Usuario es requerido!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Correo Electrónico</mat-label>
                <input formControlName="email" type="email" matInput required>
                <mat-icon class="secondary-text" matSuffix>business</mat-icon>
                <mat-error>Correo es requerido!</mat-error>
              </mat-form-field>

            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Estatus</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option [value]="'A'">
                    Activa
                  </mat-option>
                  <mat-option [value]="'I'">
                    Inactiva
                  </mat-option>
                  <mat-option [value]="'D'">
                    Desactivada
                  </mat-option>
                </mat-select>
                <mat-error>Estatus es requerido!</mat-error>
              </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="0.5%">
              <div fxLayout="column">
                <button (click)="updatePass()" type="button" color="accent" mat-raised-button>Cambiar Contrseña</button>
              </div>
              <div fxLayout="column">
                <button (click)="onSubmit()" [disabled]="!form.valid" type="submit" color="primary" mat-raised-button>Guardar</button>
              </div>
            </div>
          </form>
        </div>
        <div style="padding-left: 2rem; padding-right: 2rem;" class="fuse-card" fxFlex="0 0 70%" fxLayout="column" fxLayoutGap="0.5%">
          <h4 class="text-center" style="padding-bottom: 2rem">Asignar Roles por Empresa</h4>
          <div fxLayout="column" fxLayoutGap="0.5%">
            <div fxLayout="column"
                 fxFlex="0 0 50%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <app-company-catalog (itemSelected$)="onCompanySelected($event)"></app-company-catalog>
            </div>
            <div fxLayout="column"
                 fxFlex="0 0 50%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <app-branch-catalog (itemSelected$)="onBranchSelected($event)" [inputCompanyId]="this.companyIdSelected"></app-branch-catalog>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="2.5%">
            <div fxLayout="column"
                 fxFlex="0 0 70%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field>
                <mat-select [formControl]="bankCtrl" placeholder="Seleccione un Rol" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="Buscar"></ngx-mat-select-search>
                  </mat-option>

                  <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                    {{bank.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column"
                 fxFlex="0 0 25%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <button (click)="roleSelected()" color="primary" mat-raised-button>Agregar</button>
            </div>
          </div>
          <div style="padding-top: 1rem" fxLayout="row" fxLayoutGap="2.5%">
            <div fxLayout="column"
                 fxFlex="0 0 100%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef> Rol </th>
                  <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">
                    <!--                  <button style="margin-right: 0.2rem" color="primary" mat-raised-button>Ver Menu</button>-->
                    <button (click)="deleteRole(element)" color="warn" mat-raised-button>Quitar</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.currentDisplay === 'desktop'" fxLayout="row">
        <div class="fuse-card" style="padding-left: 2rem" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxFlex="0 0 30%"
             fxLayoutAlign="center">
          <h4 class="text-center">Información de Usuario</h4>
          <form (ngSubmit)="onSubmit()"
                [formGroup]="form"
                class="p-24 ml-50 mr-50"
                fxFlex="1 0 auto"
                fxLayout="column"
                fxLayoutAlign="start"
                name="form">

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput required>
                <mat-error>Nombre es requerido!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="row"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Usuario</mat-label>
                <input formControlName="username" matInput required>
                <mat-error>Usuario es requerido!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Correo Electrónico</mat-label>
                <input formControlName="email" type="email" matInput required>
                <mat-error>Correo es requerido!</mat-error>
              </mat-form-field>

            </div>

            <div fxFlex="0 0 auto"
                 fxLayout="row"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Estatus</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option [value]="'A'">
                    Activa
                  </mat-option>
                  <mat-option [value]="'I'">
                    Inactiva
                  </mat-option>
                  <mat-option [value]="'D'">
                    Desactivada
                  </mat-option>
                </mat-select>
                <mat-error>Estatus es requerido!</mat-error>
              </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="0.5%">
              <div fxLayout="column">
                <button (click)="updatePass()" type="button" color="accent" mat-raised-button>Cambiar Contrseña</button>
              </div>
              <div fxLayout="column">
                <button (click)="onSubmit()" [disabled]="!form.valid" type="submit" color="primary" mat-raised-button>Guardar</button>
              </div>
            </div>
          </form>
        </div>
        <div style="padding-left: 2rem; padding-right: 2rem;" class="fuse-card" fxFlex="0 0 70%" fxLayout="column" fxLayoutGap="0.5%">
          <h4 class="text-center" style="padding-bottom: 2rem">Asignar Roles por Empresa</h4>
          <div fxLayout="row" fxLayoutGap="0.5%">
            <div fxLayout="column"
                 fxFlex="0 0 50%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <app-company-catalog (itemSelected$)="onCompanySelected($event)"></app-company-catalog>
            </div>
            <div fxLayout="column"
                 fxFlex="0 0 50%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <app-branch-catalog (itemSelected$)="onBranchSelected($event)" [inputCompanyId]="this.companyIdSelected"></app-branch-catalog>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="2.5%">
            <div fxLayout="column"
                 fxFlex="0 0 70%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">

              <mat-form-field>
                <mat-select [formControl]="bankCtrl" placeholder="Seleccione un Rol" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="Buscar"></ngx-mat-select-search>
                  </mat-option>

                  <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                    {{bank.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column"
                 fxFlex="0 0 25%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
              <button (click)="roleSelected()" color="primary" mat-raised-button>Agregar</button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="2.5%">
            <div fxLayout="column"
                 fxFlex="0 0 100%"
                 fxLayout.lt-md="column"
                 fxLayoutGap="20px"
                 fxLayoutGap.lt-md="0px">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Position Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Rol </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
<!--                  <button style="margin-right: 0.2rem" color="primary" mat-raised-button>Ver Menu</button>-->
                  <button (click)="deleteRole(element)" color="warn" mat-raised-button>Quitar</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
