<div class="fuse-navy" fusePerfectScrollbar fxFlex fxLayout="column" fxLayoutAlign="start center"
     id="branch">


  <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
       [@animate]="{value:'*',params:{delay:'100ms'}}">
    <h1>Sucursales Disponibles</h1>
  </div>

  <!-- COMPANIES LIST -->
  <div class="branches-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
       [@animateStagger]="{value:'50'}">

    <!-- BOARD -->
    <div class="branches-list-item" *ngFor="let branch of branches" (click)="branchSelected(branch)"
         fxLayout="column" fxLayoutAlign="center center"
         [@animate]="{value:'*',params:{y:'100%'}}">
      <mat-icon class="s-56">storefront</mat-icon>
      <div class="branch-name">{{branch.name}}</div>
    </div>
    <!-- / BOARD -->

    <!-- NEW BOARD BUTTON -->
<!--    <div class="branches-list-item add-new-branch" fxLayout="column" fxLayoutAlign="center center"-->
<!--         (click)="newBranch()"-->
<!--         [@animate]="{value:'*',params:{y:'100%'}}">-->
<!--      <mat-icon class="s-56">add_circle</mat-icon>-->
<!--      <div class="branch-name">Nueva Sucursal</div>-->
<!--    </div>-->
    <!-- / NEW BOARD BUTTON -->

  </div>
  <!-- / BOARD LIST -->


</div>
