@import "../../../../../../ui/theme/fuse/src/lib/scss/fuse.scss";

users-list {

  #users {

    .top-bg {

      @include media-breakpoint('lt-md') {
        height: 256px;
      }
    }

    > .center {

      > .header {

        @include media-breakpoint('lt-md') {
          padding: 8px 0;
          height: 192px !important;
          min-height: 192px !important;
          max-height: 192px !important;
        }
      }
    }

    .users-table {
      width: 100%;

      .mat-header-row {
        min-height: 64px;
      }

      .mat-header-cell {
        font-weight: bold;
      }

      .user {
        position: relative;
        cursor: pointer;
        height: 50px;
      }

      .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
