
  <mat-form-field appearance="outline" style="width: 100% !important;">
    <mat-label>Empresa</mat-label>
    <mat-select (selectionChange)="valueChange()" [(ngModel)]="itemSelected" required>
      <mat-option *ngFor="let item of items" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-error>Empresa es requerido!</mat-error>
  </mat-form-field>

