///* You can add global styles to this file, and also import other style files */
//// Import Fuse core library
@import "../../../libs/module/ui/theme/fuse/src/lib/scss/core";
//
//// Import app.theme.scss
@import "app/app.theme";

@import '~ngx-toastr/toastr';

#add-custom-button {
  position: absolute;
  bottom: 50px !important;
  right: 110px !important;
  padding: 0;
  z-index: 99;

  @include media-breakpoint('xs') {
    position: sticky;
    top: calc(100vh - 120px);
    bottom: auto;
  }
}

#refresh-custom-button {
  position: absolute;
  bottom: 50px;
  right: 190px;
  padding: 0;
  z-index: 99;

  @include media-breakpoint('xs') {
    position: sticky;
    top: calc(100vh - 120px);
    bottom: auto;
  }
}
