<div style="margin-left: auto; margin-right: auto; display: block;">
  <img style="padding-left: 5rem; opacity: 50%"  src="assets/images/logos/fuse.svg">
  <h2 style="text-align: center">Sistema de Información Financiera</h2>
</div>

<!--<div id="dashboard-analytics" class="page-layout blank">-->

<!--  <div class="main-widget">-->

<!--    <div class="position-relative p-24 blue-600"-->
<!--         fxLayout="row" fxLayoutAlign="space-between center">-->
<!--      <div fxLayout="column" fxLayoutAlign="start start">-->
<!--        <span class="h2">Visitors</span>-->
<!--        <span class="h5 secondary-text">Unique visitors by month</span>-->
<!--      </div>-->
<!--      <div fxLayout="row" fxLayoutAlign="start center">-->
<!--        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"-->
<!--             (click)="widget1SelectedYear = '2016'"-->
<!--             [ngClass]="{'blue-700': widget1SelectedYear === '2016'}">-->
<!--          2016-->
<!--        </div>-->
<!--        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"-->
<!--             (click)="widget1SelectedYear = '2017'"-->
<!--             [ngClass]="{'blue-700': widget1SelectedYear === '2017'}">-->
<!--          2017-->
<!--        </div>-->
<!--        <div class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer"-->
<!--             (click)="widget1SelectedYear = '2018'"-->
<!--             [ngClass]="{'blue-700': widget1SelectedYear === '2018'}">-->
<!--          2018-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="position-relative h-256 pb-16 blue-600">-->
<!--      <canvas baseChart-->
<!--              [datasets]="widgets.widget1.datasets[widget1SelectedYear]"-->
<!--              [labels]="widgets.widget1.labels"-->
<!--              [colors]="widgets.widget1.colors"-->
<!--              [options]="widgets.widget1.options"-->
<!--              [chartType]="widgets.widget1.chartType">-->
<!--      </canvas>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div fxLayout="column" fxLayoutAlign="start"-->
<!--       fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">-->

<!--    &lt;!&ndash; Widget 2 &ndash;&gt;-->
<!--    <div class="widget" fxFlex="100" fxFlex.gt-sm="33">-->

<!--      <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">-->

<!--        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">-->

<!--          <div class="pr-16">-->
<!--            <div class="h3 secondary-text">Conversion</div>-->
<!--            <div class="font-size-54 font-weight-300 line-height-1 mt-8">-->
<!--              {{widgets.widget2.conversion.value}}-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"-->
<!--                 *ngIf="widgets.widget2.conversion.ofTarget > 0">-->
<!--              <mat-icon class="green-fg mr-4">trending_up</mat-icon>-->
<!--              <span>{{widgets.widget2.conversion.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"-->
<!--                 *ngIf="widgets.widget2.conversion.ofTarget < 0">-->
<!--              <mat-icon class="red-fg mr-4">trending_down</mat-icon>-->
<!--              <span>{{widgets.widget2.conversion.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div class="ml-4 text-nowrap">of target</div>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="h-96 w-100-p">-->
<!--          <canvas baseChart-->
<!--                  [datasets]="widgets.widget2.datasets"-->
<!--                  [labels]="widgets.widget2.labels"-->
<!--                  [colors]="widgets.widget2.colors"-->
<!--                  [options]="widgets.widget2.options"-->
<!--                  [chartType]="widgets.widget2.chartType">-->
<!--          </canvas>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; / Widget 2 &ndash;&gt;-->

<!--    &lt;!&ndash; Widget 3 &ndash;&gt;-->
<!--    <div class="widget" fxFlex="100" fxFlex.gt-sm="34">-->

<!--      <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">-->

<!--        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">-->

<!--          <div class="pr-16">-->
<!--            <div class="h3 secondary-text">Impressions</div>-->
<!--            <div class="font-size-54 font-weight-300 line-height-1 mt-8">-->
<!--              {{widgets.widget3.impressions.value}}-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"-->
<!--                 *ngIf="widgets.widget3.impressions.ofTarget > 0">-->
<!--              <mat-icon class="green-fg mr-4">trending_up</mat-icon>-->
<!--              <span>{{widgets.widget3.impressions.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"-->
<!--                 *ngIf="widgets.widget3.impressions.ofTarget < 0">-->
<!--              <mat-icon class="red-fg mr-4">trending_down</mat-icon>-->
<!--              <span>{{widgets.widget3.impressions.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div class="ml-4 text-nowrap">of target</div>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="h-96 w-100-p">-->
<!--          <canvas baseChart-->
<!--                  [datasets]="widgets.widget3.datasets"-->
<!--                  [labels]="widgets.widget3.labels"-->
<!--                  [colors]="widgets.widget3.colors"-->
<!--                  [options]="widgets.widget3.options"-->
<!--                  [chartType]="widgets.widget3.chartType">-->
<!--          </canvas>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; / Widget 3 &ndash;&gt;-->

<!--    &lt;!&ndash; Widget 4 &ndash;&gt;-->
<!--    <div class="widget" fxFlex="100" fxFlex.gt-sm="33">-->

<!--      <div class="fuse-card auto-width">-->

<!--        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">-->

<!--          <div class="pr-16">-->
<!--            <div class="h3 secondary-text">Visits</div>-->
<!--            <div class="font-size-54 font-weight-300 line-height-1 mt-8">-->
<!--              {{widgets.widget4.visits.value}}-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"-->
<!--                 *ngIf="widgets.widget4.visits.ofTarget > 0">-->
<!--              <mat-icon class="green-fg mr-4">trending_up</mat-icon>-->
<!--              <span>{{widgets.widget4.visits.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"-->
<!--                 *ngIf="widgets.widget4.visits.ofTarget < 0">-->
<!--              <mat-icon class="red-fg mr-4">trending_down</mat-icon>-->
<!--              <span>{{widgets.widget4.visits.ofTarget}}%</span>-->
<!--            </div>-->
<!--            <div class="ml-4 text-nowrap">of target</div>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="h-96 w-100-p">-->
<!--          <canvas baseChart-->
<!--                  [datasets]="widgets.widget4.datasets"-->
<!--                  [labels]="widgets.widget4.labels"-->
<!--                  [colors]="widgets.widget4.colors"-->
<!--                  [options]="widgets.widget4.options"-->
<!--                  [chartType]="widgets.widget4.chartType">-->
<!--          </canvas>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; / Widget 4 &ndash;&gt;-->

<!--  </div>-->

<!--</div>-->
