<div class="fuse-navy" fusePerfectScrollbar fxFlex fxLayout="column" fxLayoutAlign="start center"
     id="company">


  <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
       [@animate]="{value:'*',params:{delay:'100ms'}}">
    <h1>Empresas Disponibles</h1>
  </div>

  <!-- COMPANIES LIST -->
  <div class="companies-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
       [@animateStagger]="{value:'50'}">

    <!-- BOARD -->
    <div class="companies-list-item" *ngFor="let company of companies" (click)="companySelected(company)"
         fxLayout="column" fxLayoutAlign="center center"
         [@animate]="{value:'*',params:{y:'100%'}}">
      <mat-icon class="s-56">business</mat-icon>
      <div class="company-name">{{company.name}}</div>
    </div>
    <!-- / BOARD -->

    <!-- NEW BOARD BUTTON -->
<!--    <div class="companies-list-item add-new-company" fxLayout="column" fxLayoutAlign="center center"-->
<!--         (click)="newCompany()"-->
<!--         [@animate]="{value:'*',params:{y:'100%'}}">-->
<!--      <mat-icon class="s-56">add_circle</mat-icon>-->
<!--      <div class="company-name">Nueva Empresa</div>-->
<!--    </div>-->
    <!-- / NEW BOARD BUTTON -->

  </div>
  <!-- / BOARD LIST -->


</div>
