<div class="page-layout carded fullwidth inner-scroll" id="companies">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column" fxLayout.gt-sm="row"
         fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
          business
        </mat-icon>
        <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">Empresas</span>
      </div>
      <!-- / APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5%">
        <button (click)="newCompany()" color="primary" mat-raised-button>Agregar</button>
        <button (click)="refresh()" color="primary" mat-raised-button>Actualizar</button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-table class="companies-table"
                 #table [dataSource]="dataSource"
                 matSort
                 [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>NOMBRE DE EMPRESA</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.name}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="nit">
          <mat-header-cell *matHeaderCellDef >NIT</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.nit}}</p> </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>TELEFONO</mat-header-cell>
          <mat-cell *matCellDef="let element"> <p>{{element.phone}}</p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>ESTADO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.status === 'A'" color="green" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
              check_circle
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"
                 class="company"
                 (click)="showRecord(row)"
                 matRipple>
        </mat-row>
      </mat-table>
      <mat-paginator #paginator
                     fxLayoutAlign="center center"
                     [length]="dataSource.filteredData.length"
                     [pageIndex]="0"
                     [pageSizeOptions]="[5, 10, 15]"
                     [pageSize]="10"></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

<!--<button mat-fab class="accent"-->
<!--        id="add-custom-button"-->
<!--        (click)="newCompany()"-->
<!--        title="Agregar Empresa"-->
<!--        aria-label="Agregar Empresa"-->
<!--        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">-->
<!--  <mat-icon>add_circle</mat-icon>-->
<!--</button>-->

<!--<button mat-fab class="primary"-->
<!--        id="refresh-custom-button"-->
<!--        (click)="refresh()"-->
<!--        title="Actualizar Listado"-->
<!--        aria-label="Actualizar Listado"-->
<!--        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">-->
<!--  <mat-icon>refresh</mat-icon>-->
<!--</button>-->
