<h1 mat-dialog-title>Contraseña Temporal</h1>
<mat-dialog-content>
  <div class="page-layout carded fullwidth" id="users">

    <div class="pb-4">

      <h4 style="text-align: center">{{ this.pass }}</h4>

    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button [mat-dialog-close]="true" color="warn" mat-raised-button>Aceptar</button>
</mat-dialog-actions>
