<h1 mat-dialog-title style="text-align: center">Cambio de Imagen de Perfil</h1>
<mat-dialog-content>
  <div class="page-layout carded fullwidth" id="users">

    <div class="pb-4" style="text-align: center">
      <img #image class="profile-image avatar huge" src="{{ this.picture }}"
           [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form
              [formGroup]="formDoc"
              name="form">
          <mat-form-field fxLayout="row" fxLayoutAlign="center">
            <ngx-mat-file-input formControlName="requiredfile" valuePlaceholder="Seleccione imagen" accept="image/x-png,image/jpeg"
                                (change)="fileProgress($event)" required></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error *ngIf="formDoc.get('requiredfile').hasError('required')">
              Favor seleccione una imagen
            </mat-error>
            <mat-error *ngIf="formDoc.get('requiredfile').hasError('maxContentSize')">
              La imagen seleccionada no debe exceder de 1MB {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}}
              ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize
              | byteFormat}}).
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="onSubmit()" [disabled]="!formDoc.valid" color="primary" mat-raised-button>Subir Imagen</button>
  <button [mat-dialog-close]="true" color="warn" mat-raised-button>Cancelar</button>
</mat-dialog-actions>
