
  <div class="page-layout carded fullwidth" id="companies">

    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">


      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayout.gt-sm="row"
           fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0"
             fxLayout="row" fxLayoutAlign="start center">
          <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
            business
          </mat-icon>
          <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">Empresas</span>
        </div>
        <!-- / APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5%">
          <button (click)="return()" color="warn" mat-raised-button>Regresar</button>
        </div>
      </div>
      <!-- / HEADER -->
      <div class="content-card">
    <div fxLayout="row" fxFlexAlign="center">

        <form (ngSubmit)="onSubmit()"
              [formGroup]="form"
              class="p-24 ml-50 mr-50"
              fxFlex="0 0 100%"
              fxLayout="column"
              fxLayoutAlign="start"
              name="form">

          <div class="h2 mb-24">Editar Registro</div>


          <div fxFlex="0 0 auto"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutGap="20px"
               fxLayoutGap.lt-md="0px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Nombre de Empresa</mat-label>
              <input formControlName="name" matInput required>
              <mat-icon class="secondary-text" matSuffix>business</mat-icon>
              <mat-error>Nombre de Empresa es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="0 0 auto"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutGap="20px"
               fxLayoutGap.lt-md="0px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Estatus</mat-label>
              <mat-select formControlName="status" required>
                <mat-option [value]="'A'">
                  Activa
                </mat-option>
                <mat-option [value]="'I'">
                  Inactiva
                </mat-option>
                <mat-option [value]="'D'">
                  Desactivada
                </mat-option>
              </mat-select>
              <mat-error>Estatus es requerido!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="type" required>
                <mat-option [value]="'N'">
                  Persona Natural
                </mat-option>
                <mat-option [value]="'LP'">
                  Persona Juridica
                </mat-option>
              </mat-select>
              <mat-error>Tipo de Empresa es requerido!</mat-error>
            </mat-form-field>

          </div>

          <div fxFlex="0 0 auto"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutGap="20px"
               fxLayoutGap.lt-md="0px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>NIT</mat-label>
              <input formControlName="nit" matInput>
              <mat-icon class="secondary-text" matSuffix>credit_card</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>DUI</mat-label>
              <input formControlName="dui" matInput>
              <mat-icon class="secondary-text" matSuffix>credit_card</mat-icon>
            </mat-form-field>

          </div>

          <div fxFlex="0 0 auto"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutGap="20px"
               fxLayoutGap.lt-md="0px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>NRC</mat-label>
              <input formControlName="nrc" matInput>
              <mat-icon class="secondary-text" matSuffix>credit_card</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Telefono</mat-label>
              <input formControlName="phone" matInput>
              <mat-icon class="secondary-text" matSuffix>phone</mat-icon>
            </mat-form-field>

          </div>

          <div fxFlex="0 0 auto"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutGap="20px"
               fxLayoutGap.lt-md="0px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Direccion</mat-label>
              <textarea formControlName="address" matInput></textarea>
            </mat-form-field>

          </div>
          <button type="submit" [disabled]="!form.valid" color="primary" mat-raised-button>Guardar</button>
          <button type="button" (click)="return()" color="warn" mat-raised-button>Cancelar</button>
        </form>
    </div>
      </div>

  </div>
  </div>
